In [2]:
import pandas as pd

In [3]:
dataLibrairie = pd.read_excel("dataLibrairie.ods")
dataLibrairie=dataLibrairie.rename(columns={"ISBN":"isbn13"})
dataLibrairie

,Titre,Auteur,Editeur,isbn13
0,"Mondes Nouveaux - ""L'Echec De Wilson"" Et Autre...",Zweig/Magniez,Rivages,9782743651510
1,Derniers Messages,Zweig/Le Rider,Omnia,9782841005499
2,La Peur,Zweig/Deshusses,Rivages,9782743652647
3,Le Desarroi Des Sentiments_1_Ere_Ed - Les Carn...,Zweig/Deshusses,Rivages,9782743650315
4,Lettre D'Une Inconnue,Zweig Stefan,Lgf,9782253175476
...,...,...,...,...
7376,Le Retour Du Gang,Abbey Edward,Gallmeister,9782351786550
7377,Le Gang De La Clef A Molette,Abbey Edward,Gallmeister,9782351786123
7378,L'Oubli Que Nous Serons,Abad/Vargas Llosa,Gallimard,9782070446209
7379,Carnet De Recettes Cornebidoui,NaN,NaN,3127020501120
7380,Petit Cahier D'Activites Mange,NaN,NaN,3127020501113

In [4]:
books = pd.read_csv("data/books.csv")
books

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [5]:
books.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [6]:
books.dtypes

book_id                        int64
goodreads_book_id              int64
best_book_id                   int64
work_id                        int64
books_count                    int64
isbn                          object
isbn13                       float64
authors                       object
original_publication_year    float64
original_title                object
title                         object
language_code                 object
average_rating               float64
ratings_count                  int64
work_ratings_count             int64
work_text_reviews_count        int64
ratings_1                      int64
ratings_2                      int64
ratings_3                      int64
ratings_4                      int64
ratings_5                      int64
image_url                     object
small_image_url               object
dtype: object

In [7]:
def format_books(books):
    """La fonction format_books va nous permettre de supprimer 
    les colonnes dont on ne va pas se servir : liste_colonne_drop
    Mettre dans le bon format les données : int"""

    liste_colonne_drop = [
        "work_id",
        "books_count",
        "isbn",
        "average_rating",
        "language_code",
        "image_url",
        "small_image_url",
    ]

    data_books = books

    for i in liste_colonne_drop:
        data_books = data_books.drop(columns=i)

    data_books = data_books.dropna()
    data_books["isbn13"] = data_books["isbn13"].map(int)
    data_books["original_publication_year"] = data_books[
        "original_publication_year"
    ].map(int)

    return data_books

In [8]:
format_books(books).dtypes

book_id                       int64
goodreads_book_id             int64
best_book_id                  int64
isbn13                        int64
authors                      object
original_publication_year     int64
original_title               object
title                        object
ratings_count                 int64
work_ratings_count            int64
work_text_reviews_count       int64
ratings_1                     int64
ratings_2                     int64
ratings_3                     int64
ratings_4                     int64
ratings_5                     int64
dtype: object

In [9]:
book_tags = pd.read_csv("data/book_tags.csv")
book_tags

        goodreads_book_id  tag_id   count
0                       1   30574  167697
1                       1   11305   37174
2                       1   11557   34173
3                       1    8717   12986
4                       1   33114   12716
...                   ...     ...     ...
999907           33288638   21303       7
999908           33288638   17271       7
999909           33288638    1126       7
999910           33288638   11478       7
999911           33288638   27939       7

[999912 rows x 3 columns]

In [10]:
ratings = pd.read_csv("data/ratings.csv")
ratings

         user_id  book_id  rating
0              1      258       5
1              2     4081       4
2              2      260       5
3              2     9296       5
4              2     2318       3
...          ...      ...     ...
5976474    49925      510       5
5976475    49925      528       4
5976476    49925      722       4
5976477    49925      949       5
5976478    49925     1023       4

[5976479 rows x 3 columns]

In [11]:
ratings.dtypes

user_id    int64
book_id    int64
rating     int64
dtype: object

In [6]:
tags = pd.read_csv("data/tags.csv")
tags["tag_name"][tags["tag_id"]==30574]

30574    to-read
Name: tag_name, dtype: object

In [13]:
tags.dtypes

tag_id       int64
tag_name    object
dtype: object

In [14]:
tags.head()

   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [15]:
to_read = pd.read_csv("data/to_read.csv")
to_read

        user_id  book_id
0             9        8
1            15      398
2            15      275
3            37     7173
4            34      380
...         ...      ...
912700    39374     1049
912701    10492     5180
912702    21879     4827
912703    21879     6642
912704    48192     7773

[912705 rows x 2 columns]

## Réduire le nombre de tags par livre
La liste des tags est extrèmement longue et difficile à nettoyer (il y a de l'Arabe, du Russe, des mots avec des "-" pour les sous-catégories...). Et le tableau d'association book_tags comporte 100 000 lignes. Notre but ici est de diminuer ce nombre, en prenant seulement les tags les plus nombreux et les plus significatifs.

In [7]:
book_tags = pd.read_csv("data/book_tags.csv")

# On garde seulement les tags que plus de 500 personnes ont mis à un livre
book_tags_trimmed = book_tags[book_tags["count"]>=110]

# On crée la liste des tags à supprimer car inutile pour Content-Based Filtering, mais on les gardera pour le Popularity Based
tag_names_supp = [
    "to-read",
    "currently-reading",
    "favorites", 
    "books-i-own",
    "owned",
    ]

# Fonction qui trouve le tag_id en fonction du tag_name
def get_tag_id(x):
    tag = tags.query('tag_name == "'+x+'"')['tag_id'].tolist()
    return tag[0]

tag_ids_supp=[]
 
for tag in tag_names_supp:
    tag_ids_supp.append(get_tag_id(tag))

# Boucle qui retire des book tags les tags_ids
for tag_id in tag_ids_supp:
    book_tags_trimmed = book_tags_trimmed[book_tags_trimmed["tag_id"]!=int(tag_id)]


# Fonction qui trouve le tag_name en fonction du tag_id
def get_tag_name(x):
    tag = tags.query('tag_id == '+str(x))['tag_name'].tolist()
    return tag[0]

# book_tags_trimmed["tag"]=book_tags_trimmed["tag_id"].apply(get_tag_name)

vc_tags_ids = pd.DataFrame(book_tags_trimmed["tag_id"].value_counts())

In [39]:

# Après le trim à 500, tous les livres sont-ils toujours là ?

for i in range(10,600,100):
    book_tags = pd.read_csv("data/book_tags.csv")

    book_tags_trimmed = book_tags[book_tags["count"]>=i]

    # Boucle qui retire des book tags les tags_ids
    for tag_id in tag_ids_supp:
        book_tags_trimmed = book_tags_trimmed[book_tags_trimmed["tag_id"]!=int(tag_id)]

    # book_tags_trimmed["tag"]=book_tags_trimmed["tag_id"].apply(get_tag_name)

    print(i, book_tags_trimmed["tag_id"].value_counts().size, book_tags_trimmed["goodreads_book_id"].value_counts().size)

    print("____________")

10 13879 10000
____________
110 1903 9499
____________
210 1007 8500
____________
310 687 7372
____________
410 516 6326
____________
510 398 5483
____________

In [8]:
# Les genres qu'il reste
vc_tags_ids = pd.DataFrame(book_tags_trimmed["tag_id"].value_counts())
vc_tags_ids = vc_tags_ids.reset_index(inplace=False)
vc_tags_ids = vc_tags_ids.rename(columns={"tag_id":"count","index":"tag_id"})

vc_tags_ids["tag_name"]=vc_tags_ids["tag_id"].apply(get_tag_name)
vc_tags_ids.to_csv("data/value_counts_tags.csv")

""" 
Il reste 1900 tags pour les 9500 livres. Les plus nombreux (dans le haut ud tableau qui est value count) sont pour la plutpart intéressants (fantansy, sci-fi).
Les tags qui présentent seulement quelques dizaines d'occurences dans le value_count pourront être supprimés, et on triera le reste à la main ?
"""

" \nIl reste 1900 tags pour les 9500 livres. Les plus nombreux (dans le haut ud tableau qui est value count) sont pour la plutpart intéressants (fantansy, sci-fi).\nLes tags qui présentent seulement quelques dizaines d'occurences dans le value_count pourront être supprimés, et on triera le reste à la main ?\n"