In [3]:
import pandas as pd

In [42]:
dataLibrairie = pd.read_excel("dataLibrairie.ods")
dataLibrairie=dataLibrairie.rename(columns={"ISBN":"isbn13"})
dataLibrairie

,Titre,Auteur,Editeur,isbn13
0,"Mondes Nouveaux - ""L'Echec De Wilson"" Et Autre...",Zweig/Magniez,Rivages,9782743651510
1,Derniers Messages,Zweig/Le Rider,Omnia,9782841005499
2,La Peur,Zweig/Deshusses,Rivages,9782743652647
3,Le Desarroi Des Sentiments_1_Ere_Ed - Les Carn...,Zweig/Deshusses,Rivages,9782743650315
4,Lettre D'Une Inconnue,Zweig Stefan,Lgf,9782253175476
...,...,...,...,...
7376,Le Retour Du Gang,Abbey Edward,Gallmeister,9782351786550
7377,Le Gang De La Clef A Molette,Abbey Edward,Gallmeister,9782351786123
7378,L'Oubli Que Nous Serons,Abad/Vargas Llosa,Gallimard,9782070446209
7379,Carnet De Recettes Cornebidoui,NaN,NaN,3127020501120
7380,Petit Cahier D'Activites Mange,NaN,NaN,3127020501113

In [43]:
books = pd.read_csv("data/books.csv")
books

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [44]:
books.columns

Index(['book_id', 'goodreads_book_id', 'best_book_id', 'work_id',
       'books_count', 'isbn', 'isbn13', 'authors', 'original_publication_year',
       'original_title', 'title', 'language_code', 'average_rating',
       'ratings_count', 'work_ratings_count', 'work_text_reviews_count',
       'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5',
       'image_url', 'small_image_url'],
      dtype='object')

In [45]:
books.dtypes

book_id                        int64
goodreads_book_id              int64
best_book_id                   int64
work_id                        int64
books_count                    int64
isbn                          object
isbn13                       float64
authors                       object
original_publication_year    float64
original_title                object
title                         object
language_code                 object
average_rating               float64
ratings_count                  int64
work_ratings_count             int64
work_text_reviews_count        int64
ratings_1                      int64
ratings_2                      int64
ratings_3                      int64
ratings_4                      int64
ratings_5                      int64
image_url                     object
small_image_url               object
dtype: object

In [46]:
liste_colonne = [
    "work_id",
    "books_count",
    "isbn",
    "average_rating",
    "language_code",
    "image_url",
    "small_image_url",
]

data_books = books

for i in liste_colonne:
    data_books = data_books.drop(columns=i)

data_books=data_books.dropna()
data_books["isbn13"]=data_books["isbn13"].map(int)
data_books["original_publication_year"]=data_books["original_publication_year"].map(int)
data_books

,book_id,goodreads_book_id,best_book_id,isbn13,authors,original_publication_year,original_title,title,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5
0,1,2767052,2767052,9780439023480,Suzanne Collins,2008,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",4780653,4942365,155254,66715,127936,560092,1481305,2706317
1,2,3,3,9780439554930,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,4602479,4800065,75867,75504,101676,455024,1156318,3011543
2,3,41865,41865,9780316015840,Stephenie Meyer,2005,Twilight,"Twilight (Twilight, #1)",3866839,3916824,95009,456191,436802,793319,875073,1355439
3,4,2657,2657,9780061120080,Harper Lee,1960,To Kill a Mockingbird,To Kill a Mockingbird,3198671,3340896,72586,60427,117415,446835,1001952,1714267
4,5,4671,4671,9780743273560,F. Scott Fitzgerald,1925,The Great Gatsby,The Great Gatsby,2683664,2773745,51992,86236,197621,606158,936012,947718
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,9780441019460,Ilona Andrews,2010,Bayou Moon,"Bayou Moon (The Edge, #2)",17204,18856,1180,105,575,3538,7860,6778
9996,9997,208324,208324,9780679733710,Robert A. Caro,1990,Means of Ascent,"Means of Ascent (The Years of Lyndon Johnson, #2)",12582,12952,395,303,551,1737,3389,6972
9997,9998,77431,77431,9780393307630,Patrick O'Brian,1977,The Mauritius Command,The Mauritius Command,9421,10733,374,11,111,1191,4240,5180
9998,9999,8565083,8565083,9780061711530,Peggy Orenstein,2011,Cinderella Ate My Daughter: Dispatches from th...,Cinderella Ate My Daughter: Dispatches from th...,11279,11994,1988,275,1002,3765,4577,2375
9999,10000,8914,8914,9780375700450,John Keegan,1998,The First World War,The First World War,9162,9700,364,117,345,2031,4138,3069

In [47]:
data_books.dtypes

book_id                       int64
goodreads_book_id             int64
best_book_id                  int64
isbn13                        int64
authors                      object
original_publication_year     int64
original_title               object
title                        object
ratings_count                 int64
work_ratings_count            int64
work_text_reviews_count       int64
ratings_1                     int64
ratings_2                     int64
ratings_3                     int64
ratings_4                     int64
ratings_5                     int64
dtype: object

In [48]:
book_tags = pd.read_csv("data/book_tags.csv")
book_tags

        goodreads_book_id  tag_id   count
0                       1   30574  167697
1                       1   11305   37174
2                       1   11557   34173
3                       1    8717   12986
4                       1   33114   12716
...                   ...     ...     ...
999907           33288638   21303       7
999908           33288638   17271       7
999909           33288638    1126       7
999910           33288638   11478       7
999911           33288638   27939       7

[999912 rows x 3 columns]

In [49]:
ratings = pd.read_csv("data/ratings.csv")
ratings

         user_id  book_id  rating
0              1      258       5
1              2     4081       4
2              2      260       5
3              2     9296       5
4              2     2318       3
...          ...      ...     ...
5976474    49925      510       5
5976475    49925      528       4
5976476    49925      722       4
5976477    49925      949       5
5976478    49925     1023       4

[5976479 rows x 3 columns]

In [50]:
ratings.book_id.max()

10000

In [51]:
tags = pd.read_csv("data/tags.csv")
tags["tag_name"][tags["tag_id"]==30574]

30574    to-read
Name: tag_name, dtype: object

In [52]:
to_read = pd.read_csv("data/to_read.csv")
to_read

        user_id  book_id
0             9        8
1            15      398
2            15      275
3            37     7173
4            34      380
...         ...      ...
912700    39374     1049
912701    10492     5180
912702    21879     4827
912703    21879     6642
912704    48192     7773

[912705 rows x 2 columns]

In [53]:
df = pd.merge(data_books,dataLibrairie,how="inner",on=["isbn13"])
df

,book_id,goodreads_book_id,best_book_id,isbn13,authors,original_publication_year,original_title,title,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,Titre,Auteur,Editeur
0,6265,141828,141828,9782253140870,Boris Vian,1947,L’écume des jours,L'Écume des jours,13580,18358,761,582,1150,3230,5835,7561,L'Ecume Des Jours,Vian Boris,Lgf